.header{
    background-color: rgb(19, 43, 109);
    color:#fff;
    margin:0;
    padding:5px;
}
.todos-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
@media screen and (max-width: 640px) {
    .todos-container {
        grid-template-columns: 1fr;
    }
  }